<div class="container">
  <h4 class="my-5">Solve Doubts</h4>
  <div class="row">
    <!-- doubt details div -->
    <div class="col-6 border border-2 border-secondary bg-grey-container pb-5">
      <h5><%=doubt.title%></h5>
      <p><%=doubt.description%></p>
      <% let doubtCreationDate= new Date(doubt.createdAt); const months =
      ["January", "February", "March", "April", "May", "June", "July", "August",
      "September", "October", "November", "December"]; %>
      <p class="text-end">
        Asked By : <%= doubt.author.userName %> on <%=
        months[doubtCreationDate.getMonth()] %> <%=doubtCreationDate.getDay()%>
        , <%=doubtCreationDate.getHours() %>:<%= doubtCreationDate.getMinutes()
        %>
      </p>
      <hr style="height: 2px; border: none" />
      <div id="comments-container-<%=doubt._id%>">
        <p class="total-comments text-start px-1">
          <%= doubt.comments.length %> comments
        </p>
        <%for(let comment of doubt.comments.reverse()) { %>
        <div id="comment-<%=comment._id%>" class="px-3 py-1 mb-2">
          <%= comment.user.userName %> : <%= comment.commentText %>
        </div>
        <%}%>
      </div>
    </div>
    <!-- div with options to add / escalate doubts -->
    <div
      class="
        col-5
        offset-sm-1
        bg-color-grey-light
        border border-2 border-secondary
      "
    >
      <div>
        <form action="/ta/answer-doubt/?id=<%=doubt.id%>" method="POST">
          <div class="mb-3 my-1">
            <label for="answer" class="form-label">Answer :</label>
            <input
              type="text"
              class="form-control"
              id="answer"
              name="answer"
              required
            />
          </div>
          <div class="text-end">
            <button type="submit" class="btn btn-primary">Answer</button>
          </div>
        </form>
      </div>
      <div class="text-end mt-3">
        <a
          type="submit"
          href="/ta/escalate-doubt/?id=<%= doubt.id %>"
          class="btn btn-sm btn-outline-primary"
          >Escalate</a
        >
      </div>
    </div>
  </div>
</div>
