<div class="col-xl-10 offset-md-1">
  <h4>Home</h4>
  <h6 class="text-end">total-doubts</h6>
  <div class="container" id="doubt-container">
    <% for (let doubt of doubts) { %>
    <div data-doubtId="<%= doubt.id %>" class="bg-secondary my-4">
      <h5 class="doubt-title">
        How to do ruby on rails in ajax ?<%= doubt.title %>
      </h5>
      <p class="doubt-description ps-2 fs-5">
        How to do ruby on rails in ajax ? <%= doubt.description %>
      </p>
      <p class="askedBy text-end">
        Asked By :<%= doubt.Author %>fsfs on <% doubt.createdAt %> sdfdf
      </p>
      <hr />
      <br />
      <p class="total-comments text-start px-1">
        <%= doubt.comments.length %> comments
      </p>
      <div id="comments-container-<%=doubt._id%>">
        <%for(let comment of doubt.comments.reverse()) { %>
        <div id="comment-<%=comment._id%>" class="px-3 py-1 mb-2">
          <%= comment.user.userName %> : <%= comment.commentText %>
        </div>
        <%}%>
      </div>
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          id="comment-input"
          placeholder="comment....."
        />
        <button
          class="add-comment-btn btn btn-outline-primary"
          type="button"
          data-doubtId="<%= doubt.id %>"
        >
          Add Comment
        </button>
      </div>
      <!-- <div class="mb-3 my-1 col-auto">
        <input type="text" class="form-control" id="comment" name="comment" />
      </div>
      <div class="col-auto">
        <button class="btn btn-primary">Comment</button>
      </div> -->
    </div>
    <% }%>
  </div>
</div>
<script src="./javascript/studentHome.js"></script>
;
